
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "AdminLayout";
    List<Donation> allDonations = ViewBag.allDonations as List<Donation>;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        tr, th {
            border: 1px solid black;
            min-width: 200px;
        }
    </style>
    <title>View All Users Donated Medicine Details</title>
</head>
<body>
    <h3><label>All Donor Details</label></h3>
    <br />
    <table>
        <tr>
            <th><label>Medicine Category</label></th>
            <th><label>Medicine Name</label></th>
            <th><label>Donate Quantity</label></th>
            <th><label>Donor Name</label></th>
            <th><label>Pickup Address</label></th>
            <th><label>Donated Date</label></th>

        </tr>
        @if (allDonations.Count > 0)
        {
            @for (int i = 0; i < allDonations.Count; i++)
            {
                string medCategory = String.Format("medCategory{0}", i);
                string medName = String.Format("medName{0}", i);
                string medQty = String.Format("medQty{0}", i);
                string donorName = String.Format("donorName{0}", i);
                string pickupAddress = String.Format("pickupAddress{0}", i);
                string donatedDate = String.Format("donatedDate{0}", i);
                <tr>
                    <th><label id=@medCategory>@allDonations[i].medicineCatagory</label></th>
                    <th><label id=@medName>@allDonations[i].medicineName</label></th>
                    <th><label id=@medQty>@allDonations[i].donateQuantity</label></th>
                    <th><label id=@donorName>@allDonations[i].donorName</label></th>
                    <th><label id=@pickupAddress>@allDonations[i].pickupAddress</label></th>
                    <th><label id=@donatedDate>@allDonations[i].donatedDate.ToString("dd/MM/yyyy")</label></th>
                </tr>
            }
        }
    </table>
    @if (allDonations.Count == 0)
    {
        <label id="noData">No data found</label>
    }
</body>
</html>